[flake8]
ignore=
    # line too long
    E501,
    #imported but unused
    F401,
    #module level import not at top of file
    E402
    #continuation line over-indented for hanging indent
    E126
    #closing bracket does not match indentation of opening bracket's line
    E123
    #line break before binary operator
    W503